*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
}

.body-bg{
    background-color: rgba(243, 211, 184, 75%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Empieza el header*/

header{
    background-color: #a43820;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: .5rem 0;
    box-shadow: 0px 5px 10px gray;
    width: 100vw;
}

.styles-tittle{
    font-family: 'Bebas Neue', cursive;
    font-weight: 600;
    font-size: 3rem;
    color:#f3d3b8;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    
    margin-left: 5rem;
    width: 25%;
    text-align: center;
    border: thick solid #f3d3b8;
    border-radius: 1.5rem;
    background-color: #a43820;
}
.navegacion{
    padding: 2rem 2rem;
    padding-left: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.navegacion li{

    border: medium solid #f3dbc8;
    border-radius: 1rem;
    margin: .5rem 1rem;
    padding: 1rem 2rem;
    
}
.navegacion>li:nth-child(1){
    margin-left: 0;
}
.navegacion li:hover{
    cursor: pointer;
    background-color: #AF6D6A;
    border: medium solid #AF6D6A;
}

.navegacion a{
    text-decoration: none;
    color: #f3d3b8;
    font-family: 'Raleway';
    font-weight: 600;

}
.nav-label, .nav-input{
    display: none;
}

.nav-item-5{
    display: none;
}

/*Empieza el main*/

main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    margin: 0 2rem;
    width: auto;
}

.contenedor-1{
    display: flex;
    flex-direction: row;
}

/*Dando estilos al section*/
section{
    display: flex;
    flex-direction: column;
    /*border:  medium solid #000;*/
    width: 80%;
}


.history{
    margin: 0 1rem;
    width: auto;
    
}

.history p{
    font-family: 'Raleway', sans-serif;
    text-align: left;
    padding: 1.5rem;
    color: rgb(49, 48, 48);
}
.history p:hover{
    font-weight: bold;
}
.imagenes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mbaipy{
    width: 40%;
    height: 40vh;
}
.mbaipy-2{
    width: 30%;
    height: 50vh;
}
article{
    display: flex;
    flex-direction: row;
    
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.subtittle{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    text-align: left;
    padding: 1rem 5rem;
    text-decoration: underline #fff;
}
.subtittle:hover{
    color: #B78784;
    text-decoration: underline #B78784;;
}
.container-ingredientes{
    
    width: 40%;
    margin: 2rem .5rem;
    border-radius: 2rem;
    background-color: #a43820;
    padding-bottom: 2rem;
}
.container-ingredientes ul{
    padding-left: 4rem;
    padding-right: 2rem;
    /* list-style-image: url(../Images/lapiz.png); */
    font-family: "Roboto";
    font-weight: 400;
    color: #fff;

}
.container-ingredientes li{
    padding-left: 1rem;
}
.container-preparacion{
    width: 45%;
    margin: 2rem .5rem;
    padding-bottom: 2rem;
    background-color: #a43820;
    border-radius: 2rem;
}

.container-preparacion ol{
    font-family: "Roboto";
    font-weight: 400;
    color: #fff;
    text-align: left;
    padding-left: 4rem;
    padding-right: 2rem;
    line-height: 1.3;
    
}

.container-preparacion li{
    /* list-style-image: url(../Images/tenedor.png); */
    padding-left: 1rem;
}
li::before{  
    font-size:100px; 
}

/* .container-preparacion li:nth-child(even){
    list-style-image: url(../Images/cuchillo.png);
} */

/*Dando estilos al article*/

aside{
    /* border:  medium solid #a43820; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    
}
.container-aside iframe{
    width: 100%;
    
}
.container-aside video{
    width: 100%;
 /*padding-left: 2rem;*/
}
.container-aside a{
    display: none;
}

.contenedor-tarjetas{
    width: 100%;
}
.card-title{
    background-color: #661f0f;
    padding: 0.5rem 0;
    border-radius: 0.375rem;
    color: #ccc;
}
.card-body{
    background-color: #D27C0A;
    border: thin solid #D27C0A;
    border-radius: 0.375rem;
    box-shadow: 3px 3px 10px #4C0500;
}
.card-btn{
    text-decoration: none;
    background-color: #661f0f;
    padding: 0.375rem 0.75rem;
    display:block;
    border-radius: 0.375rem;
    color: #ccc;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    transition: background-color .15s ease-in-out, color .15s ease-in-out ;
}
.card-btn:hover{
    background-color: #FFD269;
    color: #000;
}

/*Empieza el footer*/
footer{
    background-color: #a43820;
    padding: 2rem 0;
    width: 100%;
}

.redes-sociales{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    flex-wrap: wrap;
}
.redes-sociales > span:hover{
    color: #571e11;
}

.wpp-flotante{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 79%;
    right: 1%;
    width: 80px;
    height: 80px;
    background-color: #a43820;
    border-radius: 1.5rem;
    box-shadow: -2px 3px 6px #571e11;
}


.formulario-contacto{
  display: block;
  margin: auto;
  /* border: medium solid #8b311d; */
  width: 30%;
  padding: 2rem;
  background-color: #a43820;
  border-radius: 1rem;
}

.formulario-contacto > *{
    display: block;
    font-family: "Roboto";
    font-size: 16px;
    border-radius: .35rem;
}

.formulario-contacto > input,textarea{
    width: 100%;
    margin-bottom: .75rem;
    padding: 0.5rem .25rem;
    background-color:#ebb6aa;
    border: none;
}
.formulario-contacto > input:hover,textarea:hover{
    border: 2px solid #571e11;

}

.formulario-contacto >label{
    margin-bottom: .35rem;
    color: #fff;
}
.formulario-contacto input[type="submit"]{
    width: 40%;
    border:none;
    margin: 1.5rem auto;
    padding: .5rem 0;
    background-color: #661f0f;
    color: #fff;
    cursor: pointer;
}

.formulario-contacto input[type="submit"]:hover{
    background-color: #803121;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf)
    format('truetype');
}

@media (max-width: 767px){
    
    header{
        flex-direction: row;
        position: sticky;
        top: 0px;
        justify-content: space-between;
        align-items: center;
    }
    .styles-tittle{
        font-size: 2rem;
        margin-left: 1.5rem;
        padding-top: 1.5rem;
        width: 50vw;
    }

    .nav-label{
        display: block;
    }
    .bx-menu{
        margin-right: 1.5rem;
        font-size: 40px;
        color: #f3d3b8;
    }
    .navegacion{
        position: fixed;
        top: 115px;
        bottom: 0;
        background-color: #720300;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding-right: 0;
        margin-bottom: 0;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }

    .navegacion li{
        width: 100%;
        border: none;
        border-radius: 0;
        margin: 0 auto;
        text-align: center;
    }
     
    .nav-input:checked + .navegacion{
        clip-path: circle(100% at center);
    }
    .wpp-flotante{
        display: none;
    }
    
    .contenedor-1{
        flex-direction: column;
        margin:  0 0;
    }
    section{
        width: 100%;
        flex-wrap: nowrap;
    
    }
    .mbaipy{
        width: 100%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .mbaipy-2{
        display: none;
    }
    article{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        
    }
    .subtittle{
        padding: 1rem 5rem;
        display: inline-block;
    }
    .container-ingredientes{
        width: 70%;
    }
     .container-preparacion{
        width: 70%;
    }
  
    .container-preparacion li{
        /*padding-left: .25rem;*/
        padding-bottom: .25rem;
    }
    .container-aside{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .container-aside a{
        display: block;
        background-color: #a43820;
        margin-bottom: 2rem;
        width: 30%;
        height: 6vh;
        border-radius: .75rem;
        padding-top: .75rem;
        text-align: center;
        text-decoration: none;
        color: #f3d3b8;
        font-family: 'Raleway';
        font-size: 1.25rem;
        font-weight: 600;
    }

    .container-aside iframe,video {
        display: none;
    }

    .formulario-contacto{
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width:1200px){
    header{
        flex-direction: column;
        align-items: center;
    }
    h1{
        width: 40vw;
    }
    .navegacion{
        padding: 2rem 0;
        padding-bottom: 1.5rem;
    }
    .navegacion li{
        margin: .5rem .5rem;
    }
    .contenedor-1{
        flex-direction: column;
    }
    .recepy{
        width: 100%;
    }
    .history .mbaipy{
        width: 50%;
    }
    article{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .subtittle{
        padding-left: 2.5rem;
    }
    .container-ingredientes{
        margin: 2rem .5rem;
    }

    .container-preparacion{
        margin: 2rem .5rem
    }
    .container-aside{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .container-aside video{
        width: 40%;
    }
    .container-aside iframe{
        width: 40%;
    }
    .formulario-contacto{
        width: 50%;
    }
   
    
}